################
### MONITORS ###
################

{{ if eq .chezmoi.hostname "rooftop" -}}
monitor=DP-1,3440x1440@170,0x0,1
monitor=HDMI-A-2,1920x1080@120,-1920x700,1
monitor=HDMI-A-1,1920x1080@60,3440x-200,1,transform,2
monitor=DP-2,1920x1080@60,3440x880,1
{{ else if eq .chezmoi.hostname "rooflaptop" -}}
monitor=eDP-1,2256x1504@60,0x0,1
{{ end }}

###################
### MY PROGRAMS ###
###################

$terminal = kitty
$fileManager = dolphin
$menu = wofi --show drun

#################
### AUTOSTART ###
#################

exec-once = waybar & hyprpaper
exec-once = fcitx5 -d
{{ if eq .chezmoi.hostname "rooftop" -}}
exec-once = xrandr --output DP-2 --primary
{{ end }}

#############################
### ENVIRONMENT VARIABLES ###
#############################

env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24
{{ if eq .chezmoi.hostname "rooftop" -}}
env = HYPRCURSOR_THEME,NotwaitaWhite
env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = NVD_BACKEND,direct
{{ else if eq .chezmoi.hostname "rooflaptop" -}}
env = HYPRCURSOR_THEME,theme_NotwaitaWhite
{{ end }}

#####################
### LOOK AND FEEL ###
#####################

general {
    gaps_in = 0
    gaps_out = 0
    border_size = 0
    allow_tearing = false
    layout = dwindle
}
decoration {
    shadow { 
    	enabled = false 
    }
    blur { 
    	enabled = false 
    }
}
animations {
    enabled = no
}
dwindle {
    pseudotile = true
    preserve_split = true
}
master {
    new_status = master
}
misc {
    force_default_wallpaper = 1
    disable_hyprland_logo = true
}

#############
### INPUT ###
#############

input {
    kb_layout = us
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =
    follow_mouse = 1
    sensitivity = 0
    touchpad {
        natural_scroll = false
        clickfinger_behavior = 1
    }
}
{{ if eq .chezmoi.hostname "rooflaptop" -}}
gesture = 3, horizontal, workspace
gesture = 2, pinch, float
{{ end }}
device {
    name = epic-mouse-v1
    sensitivity = -0.5
}

###################
### KEYBINDINGS ###
###################

$mainMod = SUPER

bind = $mainMod, C, exec, $terminal
bind = $mainMod, Q, killactive,
bind = $mainMod, V, togglefloating,
bind = $mainMod, R, exec, $menu
bind = $mainMod, P, pseudo,
bind = $mainMod, J, togglesplit,
bind = $mainMod, SPACE, exec, rofi -show combi
bind = $mainMod SHIFT, S, exec, grim -g "$(slurp -d)" - | wl-copy

bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

bind = $mainMod, P, pin
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

bindel = ,XF86AudioRaiseVolume, exec, swayosd-client --output-volume raise
bindel = ,XF86AudioLowerVolume, exec, swayosd-client --output-volume lower
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindel = ,XF86MonBrightnessUp, exec, brightnessctl s 10%+
bindel = ,XF86MonBrightnessDown, exec, brightnessctl s 10%-

bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous

windowrule = suppressevent maximize, class:.*
windowrule = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0
